/* Base */

:root {
    --shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2);
}

html {
    line-height: 1.15;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}


ul.horizontal {
    flex-direction: row;
    height: 100%;
    align-items: stretch;
}


ul.horizontal > li {
    display: flex;
    align-items: center;
    padding: 1rem;
}

ul.horizontal > li:hover {
    background-color: #f7f7fc;
}

ul.vertical {
    flex-direction: column;
}

ul.vertical > li {
    padding: 1rem;
}

ul.vertical > li:hover {
    background-color: #f7f7fc;
}

section section:not(:last-child) {
    margin: 0 0 2rem;
}

/* Spacing */

body {
    margin: 0;
    padding: 0;
}

/* Layout */

body {
    grid-template-areas: "header header" "nav  main" "footer  footer";
    grid-template-columns: minmax(auto, 0.2fr) 1fr;
    grid-template-rows: auto 1fr auto;
}

.header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    padding: 0 2rem;
    border-bottom: 1px solid #ececec;
    background-color: #fff;
    align-items: stretch;
    box-shadow: var(--shadow);
    z-index: 999;
}

.logo {
    padding: 1rem 0;
}

.logo > h1 {
    margin: 0;
    padding: 0;
    line-height: 2rem;
    font-weight: normal;
}


.sidebar {
    padding: 2rem 0;
    display: flex;
    grid-area: nav;
    border-right: 1px solid #ececec;
    background-color: #fff;
    line-height: 1;
}

.sidebar > ul {
    width: 100%;
}

.sidebar > ul > li:first-child {
    padding-top: 1rem;
}

.sidebar > ul > li {
    padding: 1rem 2rem;
}

.main {
    display: grid;
    grid-gap: 1rem;
    grid-area: main;
    padding: 2rem;
}

.footer {
    display: flex;
    grid-area: footer;

    padding: 1rem 2rem;
    border-top: 1px solid #ececec;

    background-color: #fff;
}

/* Typography */

a {
    text-decoration: none;
}

a:hover {
    color: #333695;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #333695;
    font-weight: normal;
}

h1 {
    font-size: 2rem;
    line-height: 1.2;
    margin: 0 0 1rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 1;
    margin: 0 0 1.5rem;
}

h3 {
    font-size: 1rem;
    line-height: 1;
    margin: 0 0 0.5rem;
    font-weight: bold;
}

/* Colors */

body {
    color: #4d4d4d;
    background-color: #f7f7fc;
}

a {
    color: #4d4d4d;
}

/* Components */

.card {
    background-color: #fff;
    padding: 2rem;
    border: 1px solid #ececec;
    box-shadow: var(--shadow);
}

.copyright {
    text-align: right;
    width: 100%;
}

/* Form */

form {
    max-width: 75ch;
}

label {
    display: block;
    width: 100%;
    margin: 0 0 0.5rem;
}

.checkbox, .radio {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 0 1rem;
    line-height: 1;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 0.5rem;
}

legend {
    margin: 0 0 1rem;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0 0 1rem;
    min-width: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="datetime-local"],
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin: 0 0 0.5rem;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1rem;
}

.form-group {
    margin: 0 0 1rem;
}

button,
[type="reset"],
[type="button"],
[type="submit"] {
    display: block;
    background-color: #333695;
    color: white;
    padding: 1rem;
    margin: 0 0 0.5rem auto;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

button[type="submit"]:hover {
    background-color: #333695;
}

.form-error {
    color: red;
}

/* Table */

.table-container {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ececec;
}

th, td {
    padding: 1rem 2rem;
    text-align: left;
    border-bottom: 1px solid #ececec;
}

/* Article */

article {
    display: grid;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 1.25rem;
    grid-template-columns: 1fr minmax(auto, 50ch) 1fr;
}

article h1 {
    font-size: 2.5rem;
    margin: 2rem 0 2rem;
    font-weight: normal;
}

article h2 {
    margin: 0 0 1.75rem;
    font-size: 1.75rem;
    font-family: Arial, Helvetica, sans-serif;
}

article h3 {
    margin: 0 0 1.5rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

article p {
    margin: 0 0 1rem;
}

article ul {
    margin: 0 0 1rem;
}

article > * {
    grid-column: 2;
}

article > figure {
    margin: 0 0 1.25rem;
}

article section {
    margin: 0 0 1.5rem;
}

article section:first-of-type {
    margin-top: 1.5rem;
}

article > blockquote {
    padding-left: 1rem;
    color: #666;
    margin: 3rem 3rem 3rem 2rem;
    border-left: 3px solid black;
}

.article-info {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1rem;
    margin: 0 0 1rem;
}

img {
    width: 100%;
    max-width: 75ch;
}

/* Description List */

dl {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.64);
}

dl.vertical {
    flex-direction: column;
}

dl.horizontal {
    flex-direction: row;
    margin-bottom: 1rem;
}

dl.horizontal dd:not(:last-child) {
    margin-right: 0.5rem;
}

dl.horizontal dd:not(:last-child):after {
    margin-left: 0.5rem;
    content: "|";
}

dl.only-values dt {
    display: none;
}

dd, dl {
    margin: 0;
}

dd.important {
    color: #000;
}

dd.less-important {
    color: rgba(0, 0, 0, 0.4);
}

dd ul {
    flex-direction: column;
}

/* helpers */

.active {
    color: #333695;
    font-weight: bold;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.hide {
    display: none;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.no-border {
    border: none;
}

.serif{
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.sans-serif{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
